
*{
    margin: 0;
}

/* shared style */
.work-sans-fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.display-flex{
    display: flex;
}

.light-orange-bg{
    background: rgba(255, 144, 14, 0.1);
}


.dark-1{
    color:rgb(19, 19, 19)
}
.dark-2{
    color: rgb(66, 66, 66);
}

.dark-3{
    color:rgb(114, 114, 114)
}


.paragraph{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;  
}

.btn-fill{
    border: 0;
    border-radius: 5px;
    background: rgb(255, 144, 14);
    padding: 14px 25px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}


main > section{
    margin-bottom: 100px;
}

/* Header Style */
.nav-brand{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 1.9rem;
    font-weight: 00;
    line-height: 40px;
    letter-spacing: 0%;   
}

.nav-bar{
    max-width: 1440px;
    min-height: 80px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}


.nav-menu{
    list-style: none;
    gap: 50px
}

.nav-links{
    text-decoration: none;
}







/* Main Section Styles */
/* Hero section */

.hero-parent{
    min-height: 80vh;
    align-items: center;
}

.hero-section{
    max-width: 1440px;
    margin: 0 auto;  
    padding: 40px 0; 
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.hero-title{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0%;
    text-align: center;

}

.hero-content{
    flex-direction: column;
    max-width: 800px;
    gap: 20px;
}


.hero-img{
    margin: 30px auto;
    width:100%;
    
}


.hero-button{
    margin: 0 auto;
}




/* Team Section */
.section-two{
    max-width: 1440px;
    margin: 0 auto;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px
}










/* Responsive Media Query */


@media screen and (max-width: 576px){
    
}





/* Footer Styles */