
*{
    margin: 0;
}

/* shared style */
.work-sans-fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.display-flex{
    display: flex;
}

.light-orange-bg{
    background: rgba(255, 144, 14, 0.1);
}


.dark-1{
    color:rgb(19, 19, 19)
}
.dark-2{
    color: rgb(66, 66, 66);
}

.dark-3{
    color:rgb(114, 114, 114)
}

.orange {
    color: rgb(255, 144, 14);
}

.lefft{
    text-align: start;
}


.paragraph{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;  
}

.btn-fill{
    border: 0;
    border-radius: 5px;
    background: rgb(255, 144, 14);
    padding: 14px 25px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}


main > section{
    margin-bottom: 100px ;
}

/* Header Style */
.nav-brand{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 1.9rem;
    font-weight: 00;
    line-height: 40px;
    letter-spacing: 0%;   
}

.nav-bar{
    max-width: 1440px;
    min-height: 80px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}


.nav-menu{
    list-style: none;
    gap: 50px
}

.nav-links{
    text-decoration: none;
}







/* Main Section Styles */
/* Hero section */

.hero-parent{
    min-height: 80vh;
    align-items: center;
}

.hero-section{
    max-width: 1440px;
    margin: 0 auto;  
    padding: 40px 0; 
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.hero-title{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0%;
    text-align: center;

}

.hero-content{
    flex-direction: column;
    max-width: 800px;
    gap: 20px;
}


.hero-img{
    margin: 30px auto;
    width:100%;
    
}


.hero-button{
    margin: 0 auto;
}




/* Team Section */
.section-two{
    max-width: 1440px;
    margin: 0 auto;
    gap:40px;
    align-items: center;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px
}


.team-title{
    font-family: Work Sans;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: left;
}

.team-paragraph{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;      
}

.team-content{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}


/* Some Facts Section */

.some-facts-section{
    max-width: 1440px;
    flex-direction: column;
    margin: 0 auto;
    padding: 110px 10px;
    justify-content: center; 
    gap: 20px;
}

.facts-title{
    font-family: Work Sans;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: left;

}

.facts-paragraph{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.facts-card-div{
    justify-content: space-around;
    margin: 40px 0;
    gap: 20px;
}

.facts-card{
    width: 170px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card-title{
    color: rgb(207, 41, 41);
    font-family: Work Sans;
    font-size: 110rem;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
}


.card-title{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}


/* Responsive Media Query */


@media screen and (max-width: 576px){
    
}





/* Footer Styles */